div[class*="SteamPageHeader"] {
  -webkit-app-region: drag;
}

div[class*="SteamPageHeader"] {
  display: flex;
  justify-content: center;
}

div[class*="SteamPageHeader"] > *:not(:first-child) {
  display: none;
}

div[class*="chatHistoryScroll"],
div[class*="friendlistListContainer"],
div[class*="MemberListColumn"] > div[class*="Panel"] > div:first-child
{
  transform: translate3d(0, 0, 0);
}